In [34]:
import os 
from glob import glob
import pandas as pd
from functools import reduce
from xml.etree import ElementTree as et

In [44]:
# get path of xml file
xmlfiles = glob('./data_images/*.xml')
# replace
replace_text = lambda x:x.replace('\\', '/')
xmlfiles = list(map(replace_text, xmlfiles))

In [45]:
xmlfiles

[]

In [4]:
# read xml files 
def extract(filename):
    tree = et.parse(filename)
    root = tree.getroot()
    
    # extract filename 
    image_name = root.find('filename').text
    # width and height
    width = root.find('size').find('width').text
    height = root.find('size').find('height').text
    objs = root.findall('object')
    parser = []
    
    for obj in objs:
        
        obj = objs[0]
        name = obj.find('name').text
        bndbox = obj.find('bndbox')
        xmin = bndbox.find('xmin').text
        xmax = bndbox.find('xmax').text
        ymin = bndbox.find('ymin').text
        ymax = bndbox.find('ymax').text
        parser.append([image_name, width, height, name, xmin, xmax, ymin, ymax])
        
    return parser

In [5]:
parser_all = list(map(extract, xmlfiles))

In [6]:
data = reduce(lambda x, y: x+y, parser_all)

In [7]:
df = pd.DataFrame(data,columns = ['filename', 'width', 'height', 'name', 'xmin', 'xmax', 'ymin', 'ymax'])

In [8]:
df.head()

          filename width height       name xmin xmax ymin ymax
0  2011_006135.jpg   500    375     person  391  470  144  315
1  2008_006482.jpg   500    411      chair  155  233  321  411
2  2008_006482.jpg   500    411      chair  155  233  321  411
3  2010_005054.jpg   500    111  tvmonitor   86  121   34   70
4  2010_005054.jpg   500    111  tvmonitor   86  121   34   70

In [9]:
df.shape

(40138, 8)

In [10]:
df['name'].value_counts()

name
person         13137
car             2480
chair           2207
dog             2128
diningtable     1681
bottle          1493
cat             1492
bus             1376
tvmonitor       1374
boat            1365
bicycle         1301
bird            1286
aeroplane       1267
sheep           1191
sofa            1177
horse           1168
motorbike       1145
pottedplant     1068
train            957
cow              845
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40138 entries, 0 to 40137
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  40138 non-null  object
 1   width     40138 non-null  object
 2   height    40138 non-null  object
 3   name      40138 non-null  object
 4   xmin      40138 non-null  object
 5   xmax      40138 non-null  object
 6   ymin      40138 non-null  object
 7   ymax      40138 non-null  object
dtypes: object(8)
memory usage: 2.4+ MB

In [12]:
#type-conversion
cols = ['width', 'height', 'xmin', 'xmax', 'ymin', 'ymax']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce').round(0).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40138 entries, 0 to 40137
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  40138 non-null  object
 1   width     40138 non-null  int64
 2   height    40138 non-null  int64
 3   name      40138 non-null  object
 4   xmin      40138 non-null  int64
 5   xmax      40138 non-null  int64
 6   ymin      40138 non-null  int64
 7   ymax      40138 non-null  int64
dtypes: int64(6), object(2)
memory usage: 2.4+ MB

In [13]:
# center of x and y
df['center_x'] = ((df['xmax']+df['xmin'])/2)/df['width']
df['center_y'] = ((df['ymax']+df['ymin'])/2)/df['height']

df['w'] = (df['xmax']-df['xmin'])/df['width']
df['h'] = (df['ymax']-df['ymin'])/df['height']

In [14]:
df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
0,2011_006135.jpg,500,375,person,391,470,144,315,0.861,0.612000,0.158,0.456000
1,2008_006482.jpg,500,411,chair,155,233,321,411,0.388,0.890511,0.156,0.218978
2,2008_006482.jpg,500,411,chair,155,233,321,411,0.388,0.890511,0.156,0.218978
3,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324
4,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324

## Split the Data into test and train

In [15]:
images = df['filename'].unique()

In [16]:
len(images)

17125

In [17]:
# 80% train and 20% test
img_df = pd.DataFrame(images, columns = ['filename'])
img_train = tuple(img_df.sample(frac=0.8)['filename']) # shuffle and pick 80% of images

In [18]:
img_test = tuple(img_df.query(f'filename not in {img_train}')['filename']) # rest 20% of images

In [19]:
len(img_train), len(img_test)

(13700, 3425)

In [20]:
train_df = df.query(f'filename in {img_train}')
test_df = df.query(f'filename in {img_test}')

In [21]:
train_df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
1,2008_006482.jpg,500,411,chair,155,233,321,411,0.388,0.890511,0.156,0.218978
2,2008_006482.jpg,500,411,chair,155,233,321,411,0.388,0.890511,0.156,0.218978
3,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324
4,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324
5,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324

In [22]:
test_df.head()

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h
0,2011_006135.jpg,500,375,person,391,470,144,315,0.861,0.612000,0.158,0.456000
9,2010_003343.jpg,500,375,sheep,68,264,122,232,0.332,0.472000,0.392,0.293333
10,2010_003343.jpg,500,375,sheep,68,264,122,232,0.332,0.472000,0.392,0.293333
14,2008_000795.jpg,500,332,person,1,232,82,332,0.233,0.623494,0.462,0.753012
15,2008_000795.jpg,500,332,person,1,232,82,332,0.233,0.623494,0.462,0.753012

## Assign ID to object name

In [23]:
# label encoding
def label_encoding(x):
    label = {'person':0, 'car':1, 'chair':2, 'dog':3, 'diningtable':4, 'bottle':5, 'cat':6, 'bus':7, 'tvmonitor':8, 'boat':9, 'bicycle':10, 'bird':11, 'aeroplane':12, 'sheep':13, 'sofa':14, 'horse':15, 'motorbike':16, 'pottedplant':17, 'train':18, 'cow':19}
    return label[x]

In [25]:
train_df.loc[:, 'id'] = train_df['name'].apply(label_encoding)
test_df.loc[:, 'id'] = test_df['name'].apply(label_encoding)

In [26]:
train_df.head(10)

,filename,width,height,name,xmin,xmax,ymin,ymax,center_x,center_y,w,h,id
1,2008_006482.jpg,500,411,chair,155,233,321,411,0.388,0.890511,0.156,0.218978,2
2,2008_006482.jpg,500,411,chair,155,233,321,411,0.388,0.890511,0.156,0.218978,2
3,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324,8
4,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324,8
5,2010_005054.jpg,500,111,tvmonitor,86,121,34,70,0.207,0.468468,0.070,0.324324,8
6,2010_005732.jpg,500,375,cat,181,500,1,375,0.681,0.501333,0.638,0.997333,6
7,2011_004044.jpg,500,375,person,220,337,143,375,0.557,0.690667,0.234,0.618667,0
8,2011_004044.jpg,500,375,person,220,337,143,375,0.557,0.690667,0.234,0.618667,0
11,2011_002435.jpg,500,375,sofa,23,500,56,375,0.523,0.574667,0.954,0.850667,14
12,2011_002435.jpg,500,375,sofa,23,500,56,375,0.523,0.574667,0.954,0.850667,14

## Save Imange and Labels in text

In [27]:
import os
from shutil import move

In [28]:
train_folder = 'data_images/train'
test_folder = 'data_images/test'

os.mkdir(train_folder)
os.mkdir(test_folder)

FileExistsError: [Errno 17] File exists: 'data_images/train'

In [29]:
cols = ['filename', 'id', 'center_x', 'center_y', 'w', 'h']
groupby_obj_train = train_df[cols].groupby('filename')
groupby_obj_test = test_df[cols].groupby('filename')
print(groupby_obj_train.groups)

{'2007_000027.jpg': [12695], '2007_000032.jpg': [10181, 10182, 10183, 10184], '2007_000033.jpg': [12585, 12586, 12587], '2007_000039.jpg': [24934], '2007_000061.jpg': [37805, 37806], '2007_000063.jpg': [37560, 37561], '2007_000068.jpg': [7529], '2007_000121.jpg': [9000, 9001], '2007_000123.jpg': [5996], '2007_000170.jpg': [23527, 23528, 23529, 23530, 23531, 23532], '2007_000175.jpg': [26120], '2007_000243.jpg': [9705], '2007_000256.jpg': [7989], '2007_000272.jpg': [30383], '2007_000323.jpg': [9330, 9331], '2007_000332.jpg': [1925], '2007_000333.jpg': [619], '2007_000364.jpg': [21772, 21773, 21774], '2007_000392.jpg': [11811, 11812], '2007_000423.jpg': [11900, 11901], '2007_000452.jpg': [6692, 6693], '2007_000480.jpg': [4194, 4195, 4196, 4197], '2007_000491.jpg': [6534], '2007_000504.jpg': [39700, 39701, 39702, 39703], '2007_000515.jpg': [32277, 32278, 32279, 32280], '2007_000528.jpg': [30496], '2007_000529.jpg': [32228, 32229], '2007_000549.jpg': [24605], '2007_000559.jpg': [25431, 25432], '2007_000572.jpg': [27972, 27973], '2007_000584.jpg': [18217, 18218], '2007_000629.jpg': [20987, 20988], '2007_000636.jpg': [14151], '2007_000645.jpg': [5986, 5987], '2007_000648.jpg': [34205, 34206, 34207, 34208, 34209, 34210, 34211], '2007_000661.jpg': [33674, 33675, 33676], '2007_000663.jpg': [31567, 31568, 31569, 31570, 31571, 31572], '2007_000664.jpg': [36265], '2007_000676.jpg': [31065], '2007_000713.jpg': [37824, 37825], '2007_000720.jpg': [2675], '2007_000727.jpg': [10035, 10036, 10037, 10038, 10039, 10040, 10041, 10042], '2007_000733.jpg': [9995, 9996], '2007_000738.jpg': [35334], '2007_000762.jpg': [22526, 22527, 22528, 22529, 22530, 22531, 22532, 22533], '2007_000768.jpg': [10279, 10280], '2007_000783.jpg': [10293, 10294], '2007_000804.jpg': [13807, 13808, 13809], '2007_000807.jpg': [11345], '2007_000822.jpg': [28870, 28871], '2007_000830.jpg': [23872, 23873, 23874, 23875], '2007_000836.jpg': [28970, 28971], '2007_000837.jpg': [28679], '2007_000847.jpg': [34102, 34103], '2007_000862.jpg': [6078, 6079], '2007_000904.jpg': [196, 197, 198], '2007_000925.jpg': [30281, 30282], '2007_001073.jpg': [11869, 11870, 11871, 11872, 11873, 11874], '2007_001149.jpg': [9658, 9659, 9660], '2007_001175.jpg': [9728, 9729, 9730], '2007_001185.jpg': [34659, 34660, 34661, 34662], '2007_001225.jpg': [33700], '2007_001239.jpg': [4033, 4034, 4035], '2007_001284.jpg': [23940, 23941, 23942, 23943, 23944, 23945], '2007_001289.jpg': [16388], '2007_001299.jpg': [14053, 14054, 14055], '2007_001311.jpg': [12523, 12524, 12525, 12526, 12527, 12528, 12529, 12530, 12531, 12532], '2007_001340.jpg': [35316, 35317, 35318, 35319], '2007_001397.jpg': [35431], '2007_001416.jpg': [2772, 2773, 2774, 2775, 2776, 2777], '2007_001423.jpg': [32795], '2007_001430.jpg': [40066, 40067, 40068, 40069, 40070, 40071, 40072], '2007_001439.jpg': [10020, 10021], '2007_001457.jpg': [20154, 20155], '2007_001458.jpg': [15245], '2007_001487.jpg': [27327], '2007_001526.jpg': [28538, 28539, 28540, 28541, 28542], '2007_001558.jpg': [8648, 8649], '2007_001568.jpg': [31064], '2007_001583.jpg': [31281, 31282], '2007_001585.jpg': [36334, 36335, 36336], '2007_001587.jpg': [39014], '2007_001594.jpg': [33996, 33997, 33998, 33999, 34000, 34001, 34002], '2007_001595.jpg': [34016, 34017], '2007_001602.jpg': [2156, 2157], '2007_001609.jpg': [33013, 33014, 33015, 33016, 33017], '2007_001627.jpg': [38014], '2007_001630.jpg': [35584, 35585, 35586, 35587, 35588, 35589, 35590], '2007_001667.jpg': [17303], '2007_001677.jpg': [13088, 13089], '2007_001678.jpg': [27926, 27927, 27928, 27929, 27930, 27931], '2007_001704.jpg': [19368], '2007_001733.jpg': [25754, 25755, 25756, 25757, 25758, 25759, 25760, 25761, 25762, 25763, 25764, 25765, 25766, 25767, 25768, 25769, 25770, 25771, 25772], '2007_001764.jpg': [6819, 6820, 6821, 6822, 6823, 6824], '2007_001825.jpg': [2065, 2066], '2007_001834.jpg': [9500], '2007_001872.jpg': [20509], '2007_001884.jpg': [10477, 10478, 10479, 10480], '2007_001901.jpg': [26654, 26655, 26656, 26657, 26658], '2007_001955.jpg': [8379, 8380], ...}

In [31]:
def save_data(filename, folder_path, group_obj):
    src = os.path.join('data_images',filename)
    dst = os.path.join(folder_path,filename)
    move(src,dst)
    text_filename = os.path.join(folder_path, os.path.splitext(filename)[0]+'.txt')
    group_obj.get_group(filename).set_index('filename').to_csv(text_filename,sep=' ',index=False,header=False)

In [39]:
filename_series = pd.Series(groupby_obj_train.groups.keys())

In [42]:
filename_series.apply(save_data,args=(train_folder,groupby_obj_train))

0        None
1        None
2        None
3        None
4        None
         ...
13695    None
13696    None
13697    None
13698    None
13699    None
Length: 13700, dtype: object

In [43]:
filename_series_test = pd.Series(groupby_obj_test.groups.keys())
filename_series_test.apply(save_data,args=(test_folder,groupby_obj_test))

0       None
1       None
2       None
3       None
4       None
        ...
3420    None
3421    None
3422    None
3423    None
3424    None
Length: 3425, dtype: object